.filter-deparment{
    background-color: aliceblue;
    height: 100%;
    width: 100%;

}
::ng-deep .mat-dialog-container{
    position: absolute;
    left: 0px;
    top: 115px;
    width: 39em;
    height: 100%;
}