<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a  [routerLink]="['/agListDropDown']" >Add dropdownlist </a>
  <a  [routerLink]="['/Dropdown']" >Dropdown</a>
  <a  [routerLink]="['/ShowDialog']" >Show dialog</a>
  <a  [routerLink]="['/PracticeCss']" >Practice Scss</a>
  <a  [routerLink]="['/elevator']" >Elevator</a>
  <a  [routerLink]="['/template-table-control']" >template css</a>
  <a  [routerLink]="['/MapFilter']" >Test Map fillter reduce</a>
  <a href="#">Contact</a>
</div>