<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <button class="btn btn-practice" mat-button [matMenuTriggerFor]="menu" >Practice</button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item>  
      <a  [routerLink]="['/TestApi']" >Test Api</a>
    </button>
    <button mat-menu-item>
      <a  [routerLink]="['/MapFilter']" >Test Map fillter reduce</a>
    </button>
    <button mat-menu-item><a  [routerLink]="['/PracticeCss']" >Practice Scss</a></button>
    <button mat-menu-item><a  [routerLink]="['/ShowDialog']" >Show dialog</a></button>
    <button mat-menu-item><a  [routerLink]="['/agListDropDown']" >Add dropdownlist </a></button>
    <button mat-menu-item> <a  [routerLink]="['/Dropdown']" >Dropdown</a></button>
    <button mat-menu-item> <a  [routerLink]="['/template-table-control']" >template css</a></button>
    <button mat-menu-item> <a  [routerLink]="['/SimulateAccountUserList']" >Siumlate Account User list</a></button>
  </mat-menu>
  <button class="btn btn-exp" mat-button [matMenuTriggerFor]="experiment" >Experiment</button>
  <mat-menu #experiment="matMenu" >
    <button mat-menu-item>  <a  [routerLink]="['/elevator']" >Elevator</a>
    </button>
  </mat-menu>
</div>